/* You can add global styles to this file, and also import other style files */

// Standard CSS normalize, comment out if not required or using a different module
@use "minireset.css/minireset";
@use "igniteui-angular/theming" as *;

@include core();
@include typography($font-family: "Lato");

$custom-palette: palette(
  $primary: #FD7E50,
  $secondary: #893976,
  $surface: #F8F6F5,
  $error: #E14778,
  $success: #37AF79,
  $warn: #FDB250,
  $info: #3A77A2);
@include theme($palette: $custom-palette, $roundness: 1);

body {
  background: hsla(var(--ig-surface-500));
  color: var(--ig-surface-500-contrast);
}

html, body {
  height: 100%;
}

.ig-typography {
  h1, h2, h3, h4, h5, h6, p, .ig-typography__body-1 {
    margin: 0;
  }
}

.outer-wrapper > *:not(router-outlet) {
  width: 100%;
}
