:host {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
}
.column-layout {
  display: flex;
  flex-direction: column;
}
.group {
  background-color: white;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  padding: 32px;
  height: max-content;
  min-width: 750px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_1 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.row-layout {
  display: flex;
}
.group_2 {
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 24px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-shrink: 0;
}
.card {
  height: max-content;
  min-width: 240px;
  max-width: 340px;
  flex-shrink: 0;
}
.group_3 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 16px;
  position: relative;
  padding: 0 0 16px;
  min-width: 50px;
  min-height: 50px;
}
.group_4 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  padding: 0 0 16px;
  min-width: 50px;
  min-height: 50px;
}
.group_5 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  margin: 0 0 8px;
  min-width: 0;
  min-height: 0;
}
.group_6 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  min-height: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_7 {
  justify-content: flex-start;
  align-items: baseline;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
  flex-grow: 1;
  flex-basis: 0;
}
.group_8 {
  justify-content: flex-start;
  align-items: stretch;
  align-content: flex-start;
  gap: 8px;
  position: relative;
  min-width: 50px;
  min-height: 50px;
}
.group_9 {
  justify-content: flex-start;
  align-items: center;
  align-content: flex-start;
  position: relative;
  min-width: 50px;
}
.h5 {
  color: hsla(var(--ig-secondary-800));
  margin: 0 0 4px;
  height: max-content;
  min-width: min-content;
}
.text {
  color: hsla(var(--ig-secondary-300));
  margin: 0 0 24px;
  height: max-content;
  min-width: min-content;
}
.image {
  object-fit: cover;
  border-radius: 50%;
  margin: 0 0 16px;
  width: 140px;
  height: 140px;
  min-width: 0;
  min-height: 0;
  max-width: 140px;
  max-height: 140px;
  flex-shrink: 0;
}
.text_1 {
  color: hsla(var(--ig-secondary-800));
  margin: 0 6px 0 0;
  height: max-content;
  min-width: min-content;
}
.text_2 {
  color: hsla(var(--ig-secondary-800));
  height: max-content;
  min-width: min-content;
}
.text_3 {
  color: hsla(var(--ig-gray-700));
  height: max-content;
  min-width: min-content;
}
.icon {
  --size: 18px;
  font-size: 18px;
  width: 18px;
  height: 18px;
  color: hsla(var(--ig-secondary-300));
  margin: 0 16px 0 0;
}
.hyperlink {
  color: hsla(var(--ig-secondary-300));
  height: max-content;
  min-width: min-content;
  flex-shrink: 0;
}
.text_4 {
  height: max-content;
  min-width: min-content;
}
.body-content {
  min-width: 50px;
  min-height: 50px;
}
